<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="showPlayer; else addPlayer">
    <div>
      <h1>Erfasste Spieler</h1>
      <ion-item class="player" *ngFor="let player of participants">{{player.name}}</ion-item>
    </div>
    <div id="add-player">
      <button id="add-player-button" (click)="addPlayerFunction()">Spieler hinzufügen</button>
    </div>
    <bottom-button (click)="startTournament()" text="Turnier starten"
                   [disabled]="this.participants.length < 4">
      <p [hidden]="this.participants.length >= 4">
        Es müssen mindestens 4 Spieler eingegeben werden um das Turnier zu starten
      </p>
    </bottom-button>
  </div>
  <ng-template #addPlayer>
      <div id="close-button-section">
        <ion-icon id="close-button" name="close" (click)="showPlayer = true"></ion-icon>
      </div>
      <div>
        <h1>Spieler hinzufügen</h1>
        <p>Füge die Tournierteilnehmer hinzu und bestimme ihre Fähigkeiten.</p>
      </div>
      <p>Freunde hinzufügen</p>
      <input-field name="Name" [(model)]="currentPlayer.name" type="text"
                   placeholder="Schreibe einen Namen"></input-field>
      <ion-item no-lines id="experience-select">
        <ion-label>Erfahrung</ion-label>
        <ion-select [(ngModel)]="currentPlayer.experience">
          <ion-option *ngFor="let position of ExperienceArray" value="{{ExperienceArray.indexOf(position)}}">
            {{position}}
          </ion-option>
        </ion-select>
      </ion-item>
      <bottom-button (click)="savePlayer()" text="Spieler hinzufügen"></bottom-button>

  </ng-template>
</ion-content>


