@import "../../theme/variables";

bottom-button {

  .content {
    background-color: map_get($colors, button-primary);
    font-size: 14pt;
    color: white;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content:hover {
    background-color: #F08E93;
  }

  .toolbar {
    padding: 0;
    height: 64px;
  }

  p {
    padding: 0 16px;
  }

  .disabled {
    opacity: 0.5;
  }

}
