<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Fair-Match</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="tournaments.length === 0; else tournamentsDisplay">
    <div id="pictureSoccer">
      <img id="soccer-img" src="assets/imgs/Soccer.svg"/>
    </div>
    <div id="textParagraph">
      <h1>Noch keine Turniere?</h1>
      <p>Erstelle dein erstes Turnier und lade dazu deine Freunde ein. </p>
    </div>
  </div>
  <ng-template #tournamentsDisplay>
    <div class="tournament" *ngFor="let tournament of tournaments">
      <h4>{{tournament.name}}</h4>
      <p>{{tournament.description}}</p>
      <button>Ansehen</button>
    </div>
  </ng-template>
</ion-content>

<ion-footer id="footer" >
  <ion-toolbar id="toolbar">

          <ion-buttons left>
            <button ion-button id="tournament-button" (click)="showTournaments()"><img src="assets/imgs/Pokal_aktiv.svg"/> <p id="text-button-tournament"> Turniere</p></button>
          </ion-buttons>

          <ion-buttons style="text-align: center">
            <button ion-button id="add-button" (click)="showTournamentFirstPage()"><img src="assets/imgs/Plus_Button.svg"/>
            </button>
          </ion-buttons>
          <ion-buttons right>
            <button ion-button id="profile-button" (click)="showProfile()"><img src="assets/imgs/Profil.svg"/><p id="text-button-profile">Profil</p></button>
          </ion-buttons>


  </ion-toolbar>
</ion-footer>
