@import "../../theme/variables";
page-tournament-overview {
  p{
    font-size: 16px;
    color: map_get($colors, font);
  }

  h1{
    color: map_get($colors, font);
  }

  #textParagraph {
    text-align: center;
  }
  #text-button-tournament{
    font-size: 16px;
    font-weight:normal;
    margin-left: 3px;
    color: map_get($colors, black);
  }

  #text-button-profile{
    font-size: 16px;
    font-weight:normal;
    margin-left: 3px;
    color: map_get($colors, font);
  }

  #soccer-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
