@import "../../theme/variables";

page-sign-up-email {

  #sign-up-button {
    margin: 0;
    height: 3em;
    width: 100%;
  }

  #toolbar {
    background-color: transparent;
  }

  #message {
    padding: 0 16px;
    font-size: 16px;
    color: red;
  }

}
